+html
  +page(['index'])
    +header
    //-   h1.title
    //-     | TerraZero
    //-   #projects.section
    //-     h2
    //-       | Projects
    //-     .content.projects
    //-       - for (var index in vars.projects) {
    //-         a.project(class=vars.projects[index].name, href=vars.projects[index].name)
    //-           +invoke(vars.projects[index].name)
    //-       - }
    #content
      .content-wrapper
        - for (var i = 0; i < 20; i++) {
          .item-wrapper
            .item
              .title
                | Title #{i}
              .content
                | test
        - }
      #side
        #test.test
    +footer
